<div class="col">
    <div class="row">
        <h4>Question 1(i) Output </h4>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <span>Roll No : {{rollno}} (Number)</span>
            </div>
            <div class="row">
                <span>Name : {{name}} (String)</span>
            </div>
            <div class="row">
                <span>Birthdate : {{bdate.getDate() + "-" + bdate.getMonth() + "-" + bdate.getFullYear()}} (Date)</span>
            </div>
        </div>
    </div>
</div>