<div class="row bg-primary p-2">
    <a class="col text-decoration-none" href="../index.html">
      <img src="http://localhost:8080/images/assignment.png" class="mx-2" width="45" height="45"/>
      <span class="text-white fw-bold h5">{{title}}</span>
    </a>
    <div class="col text-center pt-2 h5">
      <span class="text-white fw-bold">{{subject}}</span>
    </div>
    <div class="col text-end pt-2 h5">
      <span class="text-white fw-bold">{{rollno}} - {{name}}</span>
    </div>
  </div>
